@use "../partials/global" as *;

// Navigation bar
.underline-line-greece {
  border-bottom: 4px solid #db7a4e;
  width: 80px;
  right: 0px;
  top: 80px;
  position: absolute;
}

.underline-line-hawaii {
  border-bottom: 4px solid #db7a4e;
  width: 75px;
  right: 214px;
  top: 80px;
  position: absolute;
}

.underline-line-iceland {
  border-bottom: 4px solid #db7a4e;
  width: 85px;
  right: 105px;
  top: 80px;
  position: absolute;
}
