* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana;
  line-height: 1.5;
}

.container {
  width: 88.89vw;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2,
h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

li {
  font-size: 1.3rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.site-header {
  width: 88.89vw;
  padding: 0.5rem 6rem;
}
.site-header--background-color {
  background-color: #ffffff;
}
.site-header-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
.site-header-flexbox__box {
  display: flex;
  gap: 1.25rem;
}
.site-header__logo {
  color: #335576;
  margin: 0;
}
.site-header__menu-link {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 1s;
}
.site-header__menu-link a:hover {
  transform: scale(110%);
  border-bottom: none;
}

.site-footer {
  padding: 2rem 14rem;
  color: #335576;
}
.site-footer--background-color {
  background-color: #fefaf5;
}
.site-footer__subtitle {
  color: #db7a4e;
  text-transform: uppercase;
  font-size: 0.5rem;
}
.site-footer-flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.site-footer-flexbox__box:last-child {
  flex-basis: 18.1%;
}
.site-footer-flexbox__box:last-child h2 {
  margin-bottom: 3rem;
}
.site-footer__timetable-flexbox {
  display: flex;
  gap: 0.8rem;
}
.site-footer__img {
  width: 12%;
  margin-right: 1.5rem;
}
.site-footer__img:nth-child(2) {
  width: 8%;
}

.site-header__greece-link,
.site-header__iceland-link,
.site-header__hawaii-link {
  border-bottom: 4px solid #db7a4e;
  padding-bottom: 5px;
}

.site-destination {
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  position: relative;
  height: 90vh;
}
.site-destination--greece-background {
  background-image: url(../assets/greece.jpg);
}
.site-destination--iceland-background {
  background-image: url(../assets/iceland.jpg);
}
.site-destination--hawaii-background {
  background-image: url(../assets/hawaii.jpg);
}
.site-destination__title {
  font-size: 4rem;
  color: #ffffff;
  top: 6rem;
  left: 6rem;
}
.site-destination__title--absolute-positioning {
  position: absolute;
}
.site-destination__itinerary-cards {
  padding: 6rem 14rem;
}
.site-destination__itinerary-cards-flexbox {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.site-destination__itinerary-cards-box {
  flex-basis: 29%;
  border-radius: 5px;
}

.card {
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 2.5rem;
}
.card--background-color {
  background-color: #ffffff;
}
.card__activity {
  list-style: none;
  padding-left: 0;
}
.card__activity li {
  background-color: #fefaf5;
  width: 80%;
  padding: 0.5rem 0;
  margin: 1.3rem auto;
  font-size: 1rem;
}
.card__day {
  font-weight: bold;
  background-color: #ffffff;
  border-bottom: 3px solid black;
  width: 80%;
  margin: 1rem auto 2rem auto;
  line-height: 1;
}/*# sourceMappingURL=destinations.css.map */