@use "../partials/global" as *;

// Navigation bar
.underline-line-greece {
  border-bottom: 4px solid #db7a4e;
  width: 70px;
  right: 96px;
  top: 60px;
  position: absolute;
}

.underline-line-hawaii {
  border-bottom: 4px solid #db7a4e;
  width: 70px;
  right: 282px;
  top: 60px;
  position: absolute;
}

.underline-line-iceland {
  border-bottom: 4px solid #db7a4e;
  width: 70px;
  right: 192px;
  top: 60px;
  position: absolute;
}
