@use "../partials/global" as *;

// Navigation bar
.site-header__home-link {
  border-bottom: 4px solid #db7a4e;
  padding-bottom: 5px;
}

// Hero

.hero {
  padding: 7rem 3rem 3rem 3rem;
  color: #335576;

  &-background--color {
    background-color: #fefaf5;
  }

  &-flexbox {
    @include flexbox(flex, stretch, space-around);
  }

  &__detail {
    margin-top: 3rem;
    width: 51%;
  }

  &__img {
    width: 36.5%;
    @include make-img-responsive;
  }

  &__btn {
    width: 13vw;
    border: none;
    padding: 1rem;
    color: #ffffff;
  }

  &__btn--border-radius {
    border-radius: 30px;
  }

  &__btn--color {
    background-color: #db7a4e;
  }
}

//  Site-Recommendation

.site-recommendation {
  padding: 4rem 6rem;

  &__title {
    color: #335576;
  }
  &__card-flexbox {
    @include flexbox(flex, center, center);
    gap: 2rem;
  }
}

.card {
  flex-basis: 23%;
  position: relative;

  &__img {
    width: 100%;
    @include make-img-responsive;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  &__img--border-radius {
    border-radius: 5px;
  }

  &__name {
    color: #ffffff;
    position: absolute;
    top: 85%;
    right: 5%;
    margin: 0;
  }
}
