@use "../partials/global" as *;

.home {
  border-bottom: 4px solid #db7a4e;
  padding-bottom: 5px;
}

// Hero

.hero {
  padding: 7rem 3rem 3rem 3rem;
  background-color: #fefaf5;
  color: #335576;
}

.hero-flexbox {
  display: flex;
  justify-content: space-around;
}

.hero__detail {
  margin-top: 3rem;
  width: 49%;
}

.hero__img {
  width: 37%;
}

.hero__btn {
  background-color: #db7a4e;
  width: 13vw;
  border-radius: 30px;
  border: none;
  padding: 1rem;
  color: white;
}

// Cards

.site-recommendation {
  padding: 4rem 6rem;
}

.card {
  flex-basis: 250px;
}

.card__img {
  width: 250px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.card-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card__name {
  color: white;
  transform: translate(120px, -50px);
  display: inline-block;
}
