* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana;
  line-height: 1.5;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2,
h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

li {
  font-size: 1.3rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
}

// Navigation bar
.site-header-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  width: 1280px;
  padding: 0.5rem 6rem;
  z-index: 1;
}

.site-header-flexbox__box {
  display: flex;
  gap: 20px;
}

.site-header-flexbox__box:first-child {
  color: #335576;
  margin: 0;
}

.site-header-flexbox__box:nth-child(2) {
  list-style: none;
  padding: 0;
  margin: 0;
}

//Footer

.site-footer {
  padding: 2rem 14rem;
  background-color: #fefaf5;
  color: #335576;
}

.site-footer__subtitle {
  color: #db7a4e;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.site-footer-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.site-footer-flexbox__box:last-child {
  flex-basis: 150px;
}

.site-footer-flexbox__box:last-child h2 {
  margin-bottom: 3rem;
}

.site-footer__timetable-flexbox {
  display: flex;
  gap: 0.8rem;
}

.site-footer__social-media img {
  width: 12%;
  margin-right: 1.5rem;
}
