@mixin make-img-responsive {
  max-width: 100%;
  height: auto;
}

@mixin flexbox($display, $align-items, $justify-content) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana;
  line-height: 1.5;
}

.container {
  width: 88.89vw;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2,
h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

li {
  font-size: 1.3rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
}

// Navigation bar

.site-header {
  width: 88.89vw;
  padding: 0.5rem 6rem;

  &--background-color {
    background-color: #ffffff;
  }

  &-flexbox {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    @include flexbox(flex, center, space-between);
    position: fixed;
    z-index: 1;
  }

  &-flexbox__box {
    display: flex;
    gap: 1.25rem;
  }

  &__logo {
    color: #335576;
    margin: 0;
  }

  &__menu-link {
    list-style: none;
    padding: 0;
    margin: 0;
    a:hover {
      text-decoration: 3px underline red;
      border-bottom: none;
    }
  }
}

//Footer

.site-footer {
  padding: 2rem 14rem;
  color: #335576;
  // height: 30vh;

  &--background-color {
    background-color: #fefaf5;
  }

  &__subtitle {
    color: #db7a4e;
    text-transform: uppercase;
    font-size: 0.5rem;
  }

  &-flexbox {
    @include flexbox(flex, flex-start, space-between);
  }

  &-flexbox__box:last-child {
    flex-basis: 18.1%;
  }

  &-flexbox__box:last-child h2 {
    margin-bottom: 3rem;
  }

  &__timetable-flexbox {
    display: flex;
    gap: 0.8rem;
  }

  &__social-media img {
    width: 12%;
    margin-right: 1.5rem;
  }
}
